﻿* {
    box-sizing: border-box;
}

a:visited {
    color: black;
}

.container {
    flex-basis: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: deeppink;
    flex-flow: wrap;
}

.maincontainer {
    flex-basis: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.footer {
    display: flex;
    width: 100%;
    height: 200px;
    
    justify-content: end;
}

.start {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
}

.text-box1 {
    position: relative;
    top: 70%;
    transform: perspective(1px) translateY(-50%);
}



.text-box2 {
    position: relative;
    top: 70%;
    transform: perspective(1px) translateY(-50%);
}


.main-header {
    font-size: 10em;
    font-family: 'Princess Sofia', cursive;
    text-align: center;
}




.box1 {
    flex-basis: 40%;
    height: auto;
    box-sizing: border-box;
    order: 1;
    text-align: center;
    flex: 1;
}

.box2 {
    flex-basis: 40%;
    height: auto;
    box-sizing: border-box;
    order: 0;
    text-align: center;
    flex: 1;
}

.box1b {
    flex-basis: 40%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    order: 1;
    text-align: center;
    flex: 1;
}

.box2b {
    flex-basis: 40%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    order: 0;
    text-align: start;
    flex: 1;
}

.box1d {
    flex-basis: 40%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    order: 0;
    text-align: center;
    flex: 1;
}

.box2d {
    flex-basis: 40%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    order: 1;
    text-align: start;
    flex: 1;
}


.picture {
    margin: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://dg6xfr3y1xvv2.cloudfront.net/berkley-unicorn-MAIN-58a39e9e4145c-1500.jpg);
    width: 100%;
    height: 800px;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
}

ul {
    list-style: none;
}

.frame {
    object-fit: contain;
}

.facts {
    font-family: 'Butterfly Kids', cursive;
    font-size: 2em;
}







@media screen and (min-width: 1200px) {
    .box {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 992px) {
    .box {
        flex-basis: 60%;
    }
}

@media screen and (min-width: 768px) {
    .box {
        flex-basis: 70%;
    }
}

@media screen and (min-width: 600px) {
    .box {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        flex-basis: 90%;
    }
}